

/*===========================
    1. COMMON css 
===========================*/


@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Rubik:300,400,500,700,900&display=swap');

 body {
	font-family: $rub;
	font-weight: normal;
	font-style: normal;
    color: $body-color;

}

*{
    margin: 0;
    padding: 0;
    @include box-sizing (border-box);

}

img {
	max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover{
	text-decoration: none;
}

i,
span,
a{
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $pop;
	font-weight: 700;
	color: $heading-color;
	margin: 0px;
}

h1 {
	font-size: 48px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}

p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: $body-color;
	margin: 0px;
}

.bg_cover{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.slick-slide {
	outline: 0;
}

// others common css here



/*===== All Button Style =====*/

.main-btn {
	display: inline-block;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
	border: 0;
	padding: 0 28px;
	font-size: 15px;
	line-height: 60px;
	border-radius: 5px;
    color: $white;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
    border: 0;
	overflow: hidden;
	background-position: center;
	background: -webkit-linear-gradient(left, rgba(209,101,26,1) 0%, rgba(193,40,42,1) 50%, rgba(209,101,26,1) 100%);
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-size: 200% auto;
	& i{
		padding-left: 38px;
		font-size: 18px;
	}
    
    &:hover{
        background-position: right center;
        color: $white;
    }
}





.section-title{
	padding-bottom: 42px;
	& span{
		font-family: $pop;
		font-weight: 700;
		text-transform: capitalize;
		color: $white;
		position: relative;
		&::before{
			position: absolute;
			content: '';
			top: 0;
			height: 2px;
			width: 60px;
			left: -85px;
			top: 50%;
			transform: translateY(-50%);
			background: $white;
			@media #{$xs} {
				width: 30px;
				left: -50px;
			}
		}
		&::after{
			position: absolute;
			content: '';
			top: 0;
			height: 2px;
			width: 60px;
			right: -85px;
			top: 50%;
			transform: translateY(-50%);
			background: $white;
			@media #{$xs} {
				width: 30px;
				right: -50px;
			}
		}
	}
	& .title{
		color: $white;
		line-height: 56px;
		font-size: 56px;
		padding-top: 9px;
		@media #{$xs} {
			font-size: 35px;
			line-height: 40px;
		}
	}
	&.section-title-2{
		& span{
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(90deg, #d1651a 0%, #c1282a 100%);
			&::before{
				background-image: linear-gradient(90deg, #d1651a 0%, #c1282a 100%);
			}
			&::after{
				background-image: linear-gradient(90deg, #d1651a 0%, #c1282a 100%);
			}
		}
		& .title{
			color: $heading-color;
		}
	}
	&.section-title-3{
		& span{
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);
			&::before{
				background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);
			}
			&::after{
				background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);
			}
		}
		& .title{
			color: #4b5d73;
		}
	}
}





/*===== page preloader Style =====*/
#loading {
    background-image: linear-gradient(90deg, #d1651a 0%, #c1282a 100%);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999999;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20px;
  width: 140px;
  margin-top: -10px;
  margin-left: -70px;
  -webkit-animation: loading-center-absolute 1s infinite;
  animation: loading-center-absolute 1s infinite;

}

.object {
  width: 20px;
  height: 20px;
  background-color: #FFF;
  float: left;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.object:last-child {
  margin-right: 0px;

}

#object_one {
  -webkit-animation: object_one 1s infinite;
  animation: object_one 1s infinite;
}

#object_two {
  -webkit-animation: object_two 1s infinite;
  animation: object_two 1s infinite;
}

#object_three {
  -webkit-animation: object_three 1s infinite;
  animation: object_three 1s infinite;
}

#object_four {
  -webkit-animation: object_four 1s infinite;
  animation: object_four 1s infinite;
}

@-webkit-keyframes loading-center-absolute {
  100% {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }

}

@keyframes loading-center-absolute {
  100% {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

@-webkit-keyframes object_one {
  50% {
      -ms-transform: translate(20px, 20px);
      -webkit-transform: translate(20px, 20px);
      transform: translate(20px, 20px);
  }
}

@keyframes object_one {
  50% {
      -ms-transform: translate(20px, 20px);
      -webkit-transform: translate(20px, 20px);
      transform: translate(20px, 20px);
  }
}


@-webkit-keyframes object_two {
  50% {
      -ms-transform: translate(-20px, 20px);
      -webkit-transform: translate(-20px, 20px);
      transform: translate(-20px, 20px);
  }
}

@keyframes object_two {
  50% {
      -ms-transform: translate(-20px, 20px);
      -webkit-transform: translate(-20px, 20px);
      transform: translate(-20px, 20px);
  }
}



@-webkit-keyframes object_three {
  50% {
      -ms-transform: translate(20px, -20px);
      -webkit-transform: translate(20px, -20px);
      transform: translate(20px, -20px);
  }
}

@keyframes object_three {
  50% {
      -ms-transform: translate(20px, -20px);
      -webkit-transform: translate(20px, -20px);
      transform: translate(20px, -20px);
  }
}



@-webkit-keyframes object_four {
  50% {
      -ms-transform: translate(-20px, -20px);
      -webkit-transform: translate(-20px, -20px);
      transform: translate(-20px, -20px);
  }
}

@keyframes object_four {
  50% {
      -ms-transform: translate(-20px, -20px);
      -webkit-transform: translate(-20px, -20px);
      transform: translate(-20px, -20px);
  }
}
