


/*===========================
    11.FOOTER css 
===========================*/



.footer-area{
	background: #222933;
	padding-top: 165px;
	& .footer-content{
		& p{
			line-height: 30px;
			color: $white;
			opacity: .5;
			padding-right: 70px;
			padding-top: 25px;
			padding-bottom: 27px;
			@media #{$lg} {
				padding-right: 20px;
			}
		}
		& ul{
			& li{
				display: inline-block;
				& a{
					height: 38px;
					width: 38px;
					text-align: center;
					line-height: 38px;
					border-right: 50%;
					border: 1px solid #7a7f85;
					color: #7a7f85;
					border-radius: 50%;
					position: relative;
					z-index: 10;
					@include transition(0.3s);
					margin-right: 13px;
					&::before{
						position: absolute;
						content: '';
						left: -1px;
						top: -1px;
						height: 105%;
						width: 105%;
						border-radius: 50%;
						background-image: -moz-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
						background-image: -webkit-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
						background-image: -ms-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
						transform: scale(0);
						z-index: -1;
						@include transition(0.3s);
					}
					&:hover{
						color: $white;
						&::before{
							transform: scale(1);
						}
					}
				}
			}
		}
	}
	& .footer-list{
		& .title{
			color: $white;
			font-size: 24px;
			padding-bottom: 14px;
			padding-top: 14px;
		}
		& ul{
			& li{
				& a{
					color: $white;
					font-size: 15px;
					line-height: 36px;
					opacity: .5;
					@include transition(0.3s);
					&:hover{
						color: $theme-color;
						opacity: 1;
					}
				}
			}
		}
		&.item-2{
			padding-left: 0;
		}
	}
	& .footer-instagram{
		& .title{
			color: $white;
			font-size: 24px;
			padding-bottom: 14px;
			padding-top: 14px;
		}
		& ul{
			display: flex;
			& li{
				margin-top: 13px;
				margin-right: 13px;
				& a{
					& img{
						width: 100%;
					}
				}
			}
		}
	}
	& .footer-copyright{
		border-top: 1px solid #393f48;
		margin-top: 70px;
		& .footer-copyright-item{
			padding: 35px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media #{$xs} {
				display: block;
				text-align: center;
			}
			& p{
				color: $white;
				opacity: .4;
				@media #{$xs} {
					padding-bottom: 20px;
				}
			}
			& ul{
				& li{
					display: inline-block;
					& a{
						padding-left: 12px;
						margin-left: 12px;
						color: $white;
						opacity: .4;
						border-left: 1px solid #7a7f85;
						line-height: 20px;
						@include transition(0.3s);
						@media #{$md} {
							margin-left: 8px;
							padding-left: 8px;
						}
						@media #{$xs} {
							margin: 0;
							padding: 0 8px;
						}
						&:hover{
							color: $theme-color;
							opacity: 1;
						}
					}
					&:first-child{
						& a{
							padding-left: 0;
							margin-left: 0;
							border-left: 0;
							

						}
					}
				}
			}
		}
	}
	&.footer-2-area{
		padding-top: 90px;
		background: #f0f4f9;
		& .footer-content{
			& p{
				color: #222933;
				opacity: 1;
				@media #{$xs} {
					padding-right: 0;
				}
				@media #{$sm} {
					padding-right: 70px;
				}
			}
			& ul{
				& li{
					& a{
						border-color: #ccc;
						color: #ccc;
						&:hover{
							color: $white;
						}
						&::before{
							background-image: -moz-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
							background-image: -webkit-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
							background-image: -ms-linear-gradient( 0deg, rgb(66,140,212) 0%, rgb(0,78,154) 100%);
						}
					}
				}
			}
		}
		& .footer-list {
			& .title{
				color: #4b5d73;
			}
			& ul{
				& li{
					& a{
						color: #222933;
						opacity: 1;
						&:hover{
							color: #216db2;
						}
					}
				}
			}
		}
		& .footer-instagram {
			& .title{
				color: #4b5d73;
			}
		}
		& .footer-copyright{
			border-top-color: #dddfe2;
			& .footer-copyright-item{
				& p{
					color: #4b5d73;
					opacity: 1;
				}
				& ul{
					& li{
						& a{
							color: #4b5d73;
							opacity: 1;
							border-left-color: #4b5d73;
							&:hover{
								color: #216db2;
							}
						}
					}
				}
			}
		}
	}
	&.footer-3-area{
		padding-top: 90px;
		background: #222f5a;
		& .footer-content{
			& ul{
				& li{
					& a{
						&::before{
							background: $theme-color-3;
						}
					}
				}
			}
		}
		& .footer-list{
			& ul{
				& li{
					& a{
						&:hover{
							color: $theme-color-3;
						}
					}
				}
			}
		}
		& .footer-copyright{
			border-top: 0;
			& .footer-copyright-item{
				border-top: 1px solid #39446b;
				& ul{
					& li{
						& a{
							&:hover{
								color: $theme-color-3;
							}
						}
					}
				}
			}
		}
	}
}










/*===== Go Top =====*/


.go-top-area{
    position: relative;
    z-index: 999;
    
    & .go-top{
        position: fixed;
        cursor: pointer;
        top: 0;
        right: 30px;
        color: #ffffff;
		background-image: -moz-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
        z-index: 9999;
        width: 45px;
        text-align: center;
        height: 45px;
        line-height: 42px;
        opacity: 0;
        visibility: hidden;
        @include transition(0.9s);
        border-radius: 10px;
        
        & i{
            position: absolute;
            top: 50%;
            left: -4px;
            right: 0;
            margin: 0 auto;
            font-size: 15px;
            @include transform(translateY(-50%));
            @include transition(0.5s);
            
            &:last-child{
                opacity: 0;
                visibility: hidden;
                top: 60%;
            }
        }
        
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
			background-image: -moz-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
            opacity: 0;
            visibility: hidden;
            @include transition(0.5s);
            border-radius: 10px;
        }
        
        &:focus,
        &:hover{
            color: $white;
            
            &::before{
                opacity: 1;
                visibility: visible;
            }
            
            & i{
                &:first-child{
                    opacity: 0;
                    top: 0;
                    visibility: hidden;
                }
                &:last-child{
                    opacity: 1;
                    visibility: visible;
                    top: 50%;
                }
            }
        }
        
        &.active{
            top: 95%;
            @include transform(translateY(-98%));
            opacity: 1;
            visibility: visible;
            border-radius: 0;
            right: 30px;
            border-radius: 10px;
            @media #{$lg} {
                top: 93%;
            }
            @media #{$md} {
                top: 93%;
            }
        }
    }
    &.go-top-2-area{
    	& .go-top{
    		background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);
    		&::before{
    			background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);
    		}
    	}
    }
    &.go-top-3-area{
    	& .go-top{
    		background: $theme-color-3;
    		&::before{
    			background: $theme-color-3;
    		}
    	}
    }
}


.go-top-wrap {
    position: relative;
    
    & .go-top-btn {
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 40px;
        text-align: center;
        color: $white;
        top: 3px;
        z-index: 1;
        background-image: -moz-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
		background-image: -webkit-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
		background-image: -ms-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
        
        & i{
            font-size: 20px;
            font-weight: 700;
            padding-left: 4px;
            color: $white;
        }
        
        &::after{
            z-index: -1;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 45px;
            height: 45px;
            @include animation(ripple 1.6s ease-out infinite);
            opacity: 0;
            background-image: -moz-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
			background-image: -webkit-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
			background-image: -ms-linear-gradient( 0deg, rgb(209,101,26) 0%, rgb(193,40,42) 100%);
            border-radius: 10px;
        }
        
        &:hover{
            background-color: $black;
            color: $white;
        }
    }
    &.go-top-2-wrap{
    	& .go-top-btn{
    		background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);
    		&::after{
    			background-image: linear-gradient(90deg, #2b77eb 0%, #164a99 100%);

    		}
    	}
    }
    &.go-top-3-wrap{
    	& .go-top-btn{
    		background: $theme-color-3;
    		&::after{
    			background: $theme-color-3;

    		}
    	}
    }
}

@keyframes ripple {
  0%, 35% {
    @include transform(scale(0));
    opacity: 1;
  }
  50% {
    @include transform(scale(1.5));
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    @include transform(scale(2));
  }
}

@-webkit-keyframes ripple {
  0%, 35% {
    @include transform(scale(0));
    opacity: 1;
  }
  50% {
    @include transform(scale(1.5));
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    @include transform(scale(2));
  }
}
