// Font Family
$rub: 'Rubik', sans-serif;
$pop: 'Poppins', sans-serif;


// Colors ---------------
$white: #fff;

$black: #222;

$grey:#f2f5f8;

$theme-color: #d1651a;

$theme-color-3: #89d32a;

$body-color: #565872;

$hr-border-color:#eceff8;


// Heading Color
$heading-color: #094074;

// Soft color
$black-soft:#4b5d73;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


